/**
 * @author Luiz Filipe Machado Barni
 */

:root {
    --color-orange: hsl(25, 100%, 57%);
    --color-orange-light: hsl(25, 100%, 62%);
    --color-grey-lighter: hsl(30, 8%, 95%);
    --color-grey: hsl(0, 0%, 80%);
    --color-grey-darker: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div::after,
header::after,
nav::after,
footer::after,
p::after,
ul::after,
ol::after {
    content: '';
    display: table;
    width: 100%;
    height: 0;
    clear: both;
    float: none;
}

::-moz-selection,
::-moz-selection {
    background-color: #71caeb;
    color: #fff
}

::selection,
::-moz-selection {
    background-color: #71caeb;
    color: #fff
}

html {
    font-size: 10px;
}

body {
    min-width: 320px;
    background: #FFF;
    margin: 0;
    color: #000;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 1.2rem;
}

header,
section {
    padding-bottom: 20px;
}

footer {
    background: #000;
    color: #fff;
}

a {
    color: inherit;
}

ul.list-styled {
    list-style-image: url('marcador.jpg');
    padding-left: 30px;
}

ul.list-block li {
    display: block;
    clear: both;
}

nav {
    width: 100%;
}

nav ul,
ul.list-clean {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

nav ul>li,
ul.list-clean li {
    font-size: 1.2rem;
}

nav ul>li {
    display: inline-block;
    padding: 0 2px;
}

nav ul>li>a {
    display: block;
    width: auto;
    margin: -3px 0;
    padding: 12px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background ease 200ms;
    -o-transition: background ease 200ms;
    -moz-transition: background ease 200ms;
    transition: background ease 200ms;
}

nav ul>li>a:hover,
nav ul>li>a:focus {
    text-decoration: none;
    color: #fff;
    background-color: var(--color-orange-light);
}

p,
.p {
    margin-bottom: 1em
}

.long-read {
    width: 650px;
    max-width: 100%;
    font-size: 1.8rem;
    line-height: 2
}

.long-read>p:last-child {
    margin-bottom: 0
}

.text-overflow {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.alignleft {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 1px 2px 8px -4px #000;
    -moz-box-shadow: 1px 2px 8px -4px #000;
    box-shadow: 1px 2px 8px -4px #000
}

.card .caption h2 {
    margin-top: 0;
    margin-bottom: 0.2em
}

.tile {
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 1px 1px 10px -5px #000;
    -moz-box-shadow: 1px 1px 10px -5px #000;
    box-shadow: 1px 1px 10px -5px #000
}

.tile .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    overflow: hidden
}

.tile .background img {
    position: absolute;
    top: 0;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%)
}

.card,
.tile {
    background-color: #fff
}

.card img,
.tile img {
    width: 100%;
}

.card.flat,
.tile.flat {}

.card .caption,
.tile .caption,
.tile .text,
.tile .action-area {
    padding: 10px
}

.card .title,
.tile .title {
    font-size: 2.2rem;
    font-weight: 400
}

.container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0
}

.container-default {
    width: 970px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.sr-only {
    display: none;
}

.bg-orange {
    background-color: var(--color-orange);
    color: #FFF;
}

.bg-dark {
    background-color: var(--color-grey-darker);
    color: #FFF;
}

.logo {
    display: block;
    font-weight: 100;
    white-space: nowrap;
    font-size: 4.6rem;
}

#list-films>ul {
    width: auto;
    height: auto;
    margin: -10px
}

#list-films>ul li {
    padding: 10px;
}

#list-films>ul li .card {
    background-color: #ccc;
    border-bottom: 4px solid #aaa;
    font-size: 1.6rem;
    font-weight: 600;
}

#feed #feed-categories section>h2,
#feed #feed-news .highlight>a {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.1;
}

#feed #feed-categories section>h2 {
    color: var(--color-orange);
    border-top: 4px solid var(--color-orange);
    padding: .5em 0;
    margin: 0;
}

#feed #feed-categories .tile {
    font-size: 1.4rem;
    font-weight: 600;
}

#feed .list-styled {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.6rem;
}

#feed #feed-news ul.list-block li {
    font-size: 1.6rem;
    font-weight: 600;
}
